


.section-container {
    display: flex;
    justify-content: space-between;
  }
  
  .section {
    flex: 1;
  }
  
  .section h2 {
    margin-bottom: 10px;
  }
  
  /* @keyframes slide {
    0% {
      transform: translateX(100%); 
    }
    50% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-100%); 
    }
  } */
  
  
  